@font-face {
    font-family: 'Gill Sans';
    src: url(font/GillSans/Gill\ Sans.otf);
}

@font-face {
    font-family: 'Gill Sans Bold';
    src: url(font/GillSans/Gill\ Sans\ Bold.otf);
}

.ez-pz{
    background: rgba(255, 255, 255, 0.5) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.nav{
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px 4rgba(0,0,0,0.2);
}

.navright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navleft{
    width: 25%;
    height: 100%;
    padding-left: 10px;
    background-color:#FFFF;
}

.listmenu{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu__toggle {
    opacity: 0;
  }
  
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  
.menu__btn {
    position: fixed;
    top: 60px;
    left: 102px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span {
    display: block;
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
  
.menu__btn > span::before {
    content: '';
    top: -8px;
    right: -4px;
    width: 150%;
    display: block;
    position: absolute;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
  
.menu__btn > span::after {
    content: '';
    top: 8px;
    width: 150%;
    right: -5px;
    display: block;
    position: absolute;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
  
.menu__box {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #FFFF;
    transition-duration: .25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

.menu__box.show{
    display: block;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #000000;
    font-family:'Gill Sans';
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
}
  
.menu__item:hover {
    background-color: #FFFF;
}

.keranjang{
    position: fixed;
    width: 122px;
    height: 100%;
    top: 50px;
    left: 229px;
}

.subsection{
    position: fixed;
    width: 122px;
    height: 100%;
    top: 62px;
    left: 344px;
}

.subsection > h1{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4D;
}

.arrow{
    position: fixed;
    width: 122px;
    height: 100%;
    top: 58px;
    left: 473px;
}

.subsubsection{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4D;
    position: absolute;
    width: 137px;
    height: 28px;
    left: 506px;
    top: 62px;
}
.kopi{
    position: relative;
    width: 40%;
    padding-top: 42px;
    left: 165px;
    padding-bottom: 20px;
}

.kopi > img {
    width: 70%;
}

.kopi > h2{
    width: 70%;
    padding-top: 20px;
    font-weight: 400;
    font-size: 40px;
}

.kopi > p{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-top: 5px;
}

.filter{
    width: 86%;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

a.jenis-kopi {
    text-decoration: none;
    color: black;
    padding: 5px 8px;
}

.jenis-kopi.active{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #4F4F4D;
}
.jenis-kopi:hover p{
    color: #DCDCDB;
}
.jenis-kopi > p {
    margin-bottom: 0;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4D;
}

.kopi > a > img{
    width: 507px;
    height: 351px;
}

.add-to-chart{
    background: rgba(255, 255, 255, 0.5) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}


.choose-menu{
    width: 100%;
    height: 100vh;
    display: flex;
}

.choose-menu-left{
    width: 50%;
    height: 100%;
    display: flex;
}

.choose-menu-right{
    width: 50%;
    height: 100%;
    display: flex;
}

.foto-menu{
    margin: 25px;
    width: 350px;
    height: 200px;
    position: relative;
}

.foto-menu > img{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: px;
    height: 400px;  
    padding-left: 185px;
}

.menu{
    position: relative;
    width: 81%;
    padding-top: 42px;
    left: 113px;
    padding-bottom: 20px;
}

.menu > h2{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #4F4F4D;
}

.menu > h3{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4D;
}

.menu > p{
    padding-top: 20px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 154.5%;
    /* or 37px */
    color: #4F4F4D;
    padding-bottom: 20px;
}

.box{
    width: 99%;
    height: 42px;
    background: #D9D9D9;
    padding: 10px;
    text-align: center;
    padding-top: 8px;
}

.sesuaikan-kopi > h2{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #4F4F4D;
}
.box > h2{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #4F4F4D;
}


.beans-checkbox{
    padding-bottom: 10px;
    display: flex;
    padding-top: 10px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4D;

}
.checkbox-right{
    width: 50%;
    height: 100%;
}

.checkbox-left{
    width: 50%;
    left: 50%;
}

.form-check-label {
    padding-left: 0;
    padding-right: 1rem;
    float: right;
}

.quantity {
    width: 120px;
    margin: 0 auto;
}
  
.btn-minus, .btn-plus {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0;
}
  
.form-control {
    text-align: center;
    border: none;
    font-size: 1rem;
    font-weight:normal;
}
  
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.quantity{
    width: 100%;
    display: flex;
    padding-top: 43px;
}

.judul{
    width: 25%;
}

.input-group{
    width: 20% !important;
    right: 209px;
    bottom: 51px;
}

.judul > h2{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: rgba(79, 79, 77, 0.5);
}

.btn{
    font-size: 1.25rem;
}

.form-control{
    font-size: 1.25rem;
}

.add-to-chart-button{
    width: 55%;
}

.add-to-cart-btn{
    width: 55%;
}

.button-add-to{
    position: static;
    width: 163px;
    height: 30px;
    left: 428px;
    top: 341px;
    background: #D9D9D9;
    border-radius: 10px;
    border-color: transparent;
}

.media{
    font-size: 1.5rem;
    position: absolute;
    width: 100px;
    height: 28px;
    left: 345px;
    top: 63px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4D;
}

a {
    text-decoration: none;
}