@font-face {
    font-family: 'Gill Sans';
    src: url(font/GillSans/Gill\ Sans.otf);
}

@font-face {
    font-family: 'Gill Sans Bold';
    src: url(font/GillSans/Gill\ Sans\ Bold.otf);
}

.ez-pz{
    background: rgba(255, 255, 255, 0.5) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    justify-content: space-between;
    padding-right: 54px;
}

.navright{
    width: 50%;
    height: 100%;
    display: flex;
}

.navleft{
    width: 25%;
    height: 100%;
    padding-left: 10px
}

.listmenu{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 65px;
}

#menu__toggle {
    opacity: 0;
  }
  
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  
.menu__btn {
    position: fixed;
    top: 60px;
    left: 102px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span {
    display: block;
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
  
.menu__btn > span::before {
    content: '';
    top: -8px;
    right: -4px;
    width: 150%;
    display: block;
    position: absolute;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
  
.menu__btn > span::after {
    content: '';
    top: 8px;
    width: 150%;
    right: -5px;
    display: block;
    position: absolute;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
  
.menu__box {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #FFFF;
    transition-duration: .25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

.menu__box.show{
    display: block;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #000000;
    font-family:'Gill Sans';
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
}
  
.menu__item:hover {
    background-color: #FFFF;
}

.keranjang{
    position: fixed;
    width: 122px;
    height: 100%;
    top: 50px;
    left: 229px;
}

.subsection{
    position: fixed;
    width: 122px;
    height: 100%;
    top: 62px;
    left: 359px;
}

.subsection > h1{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #4F4F4D;
}

.kopi{
    position: relative;
    width: 40%;
    padding-top: 42px;
    left: 165px;
    padding-bottom: 20px;
}

.kopi > img {
    width: 70%;
}

.kopi > h2{
    width: 70%;
    padding-top: 20px;
    font-weight: 400;
    font-size: 40px;
}

.kopi > p{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-top: 5px;
}

.filter{
    width: 86%;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

a.jenis-kopi {
    text-decoration: none;
    color: black;
    padding: 5px 8px;
}

.jenis-kopi.active{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #4F4F4D;
}

.jenis-kopi > p {
    margin-bottom: 0;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4D;
}